/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 nav {
   background-color: #4CE0B3;
   border-radius: 5px;
   position: relative;
   text-align: center;
 }

 nav li {
   margin: 0;
   display: inline-block;
   padding: 10px;
 }

 nav a {
   text-decoration: none;
   color: white;
 }

 nav form {
   border-radius: 50px;
 }

 .style_image {
   display: block;
   margin: auto;
 }

 .sidebar {
	background-color: #4CE0B3;
  border-radius: 5px;
	width: 20%;
	height: 100vh;
	margin-right: 10px;
	display: block;
	float: left;
}

 #side {
   padding: 1em 2em;
   background: #141;

   form, div {
     display: inline;
   }
   input {
     font-size: small;
   }

   #cart {
     font-size: smaller;
     color: white;

     table {
       border-top: 2px dotted #B4F1DF;
       border-bottom: 2px dotted #B4F1DF;
       margin-bottom: 10px;
     }
   }

   ul {
     padding: 0;

     li {
       list-style: none;

       a {
         color: #bfb;
         font-size: small;
       }
     }
   }
 }

 .depot_form {

  * {
    width: 75%;
}

 fieldset {
   background: #B4F1DF;
   border-style: none;
   border-radius: 5px;

   legend {
     color: #dfd;
     background: #4CE0B3;
     font-family: sans-serif;;
     padding: 0.2em 1em;
     border-radius: 5px;
   }

   div {
     margin-bottom: 0.3em;
   }
 }

 form {
   label {
     width: 5em;
     float: left;
     text-align: right;
     padding-top: 0.2em;
     margin-right: 0.1em;
     display: block;
   }

   select, textarea, input {
     margin-left: 0.5em;
   }

   .submit {
     margin-left: 4em;
     max-width: 25%;
   }

   br {
     display: none;
   }
 }
 }
