// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  font-family: Sans-Serif;
  -moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
}

h1 {
  color: #377771;
  border-bottom: 2px solid #4CE0B3;
  background: linear-gradient(top, #5CE2B9, white);
  width: auto;
}

span {
  color: #FF8E72;
}

.product_listing {
  display: flex;
  max-height: 150px;
  width: auto;
  margin: 15px 0 15px 0;

}

.product_listing h3 {
  color: #326D67;
  vertical-align: top;
}

.product_listing p {
  color: #377771;
}

.product_img div {
  float: left;
  max-height: 150px;
}

.product_img img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  background-color: lightgrey;
}

.product_price {
  color: #ED6A5E;
  font-weight: bold;
}

.product_details {
  background-color: #B4F1DF;
  border-radius: 5px;
  margin-left: 10px;
  max-height: 150px;
  padding: 0 10px 0 10px;
  width: 100%;
  overflow: auto;
}

form, div {
  display: inline;
}

.add {
  padding: 5px;
  border-radius: 5px;
  border: none;
  background-color: white;
  margin-left: 5px;
  color: #ED6A5E;
  font-weight: bold;
}
